.calculadora{
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 20%;
}